.h1 {
    text-align: center;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

button {
    margin-bottom: 10px;
}

.h2 {
    text-align: center;
}

#resultado {
    font-weight: bold;
}